header {
    align-items: center;
    background-color: #333;
    color: #eee;
    display: flex;
    height: 3.15rem;
    padding: 0 2rem;
    position: sticky;
    top: 0;

    &::after {
        background: #1565c0 linear-gradient(to left, #90caf9, #1565c0) no-repeat;
        content: "";
        height: .35rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
    }

    a {
        text-decoration: none;

        &.title {
            display: flex;
            flex-direction: column;
            line-height: 1rem;

            h1,
            h2 {
                font-weight: 300;
                margin: 0;
            }

            h1 {
                font-size: 1.2rem;
            }

            h2 {
                font-size: 0.8rem;
                opacity: 0.65;
            }
        }
    }

    nav {
        flex-grow: 1;

        ul {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        a {
            align-items: center;
            display: flex;
            line-height: 3.15rem;
            padding: 0 1rem;
            transition: background-color 0.2s ease-in-out;
            white-space: nowrap;

            &:hover {
                background-color: #4d4d4d;
            }

            [data-icon] {
                font-size: 0.9rem;
                margin-right: 0.5rem;
            }
        }
    }
}

@media (max-width: 600px) {
    header h2 {
        display: none;
    }
}
